* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
   background-color: #000;
   color: #fff;
   min-height: 100vh;
}
#root {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
}
.container {
   margin: 100px 0;
   display: flex;
   width: 60vw;
   max-width: 1200px;
   background-color: #222;
   justify-content: space-between;
}
.check-result {
   margin-top: 8px;
   align-self: flex-end;
   width: 120px;
   height: 50px;
   cursor: pointer;
   border-radius: 10px;
   background-color: transparent;
   border: 1px solid #fff;
   color: #fff;
   transition: 0.4s;
}
.check-result:hover {
   background-color: #fff;
   color: #000;
}
.matches {
   display: flex;
   flex-direction: column;
   flex-basis: 60%;
}
.match {
   display: flex;
   align-items: center;
   border: 1px solid #999;
   border-bottom: 0;
   padding: 5px 0 0 10px;
}
.match:nth-last-child(1) {
   border-bottom: 1px solid #999;
}
.teams-names {
   flex-grow: 1;
}
.match div {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* margin: 0 5px; */
   height: 50px;
}
.match button {
   width: 70px;
   flex-grow: 1;
   cursor: pointer;
   border: 0;
   background-color: #3e3e3e;
   color: #fff;
   border-right: 1px solid #999;
}
.match div:nth-of-type(1) button {
   border-left: 1px solid #999;
}
.match div:nth-last-child(1) button {
   border-right: 0;
}
button:focus {
   outline: 0;
}
button.active {
   color: #000;
   background-color: yellow;
   font-weight: 600;
}
.matchesAdd {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-basis: 40%;
   border: 1px solid #999;
}
.box {
   display: flex;
   flex-direction: column;
   width: 90%;
   flex-basis: 90%;
   border: 1px solid #999;
   margin: 10px;
}
.type-matches {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
}
.type-matches div {
   display: flex;
   align-items: center;
   margin: 5px;
   padding: 5px;
   width: 90%;
   border: 1px solid #999;
}
.box div .check {
   display: none;
}
.box div .names-of-teams {
   flex-grow: 1;
}
.main .summary {
   border: 1px solid #999;
   width: 90%;
   margin: 10px auto;
   padding: 8px;
}
.main .summary .clear {
   width: 90px;
}
.main .summary button {
   width: 60px;
   height: 25px;
   cursor: pointer;
}
.main .summary div {
   display: flex;
   width: 100%;
   margin: 3px 0;
}
.main .summary .grow {
   flex-grow: 1;
}
.main .summary input {
   width: 60px;
   text-align: right;
}
.empty {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}

header {
   position: fixed;
   display: flex;
   top: 0;
   left: 0;
   width: 100%;
   height: 40px;
   background-color: #3e3e3e;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
main {
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-grow: 1;
}
footer {
   display: flex;
   flex-basis: 60px;
   align-items: center;
   background-color: #3e3e3e;
   padding: 0 20px;
}
.coupons .container {
   flex-direction: column;
   flex-basis: 30vw;
   border: 1px solid #fff;
   padding: 20px;
   min-height: 240px;
}
.no-coupons {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-grow: 1;
}
.container .result {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #999;
}
.coupon {
   display: flex;
   flex-direction: column;
   margin: 5px;
   border: 1px solid #fff;
   padding: 5px;
}
.coupon .element {
   display: flex;
   flex-direction: column;
}
.coupon .element div {
   display: flex;
   /* justify-content: space-between; */
}
.coupon .element span:first-child {
   flex-grow: 1;
}
.coupon .element span:last-child {
   margin-left: 10px;
}
.coupon .summary {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}
.coupon .summary div {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}
.coupon .summary div span {
   margin-left: 10px;
}
